*{
    margin: 0;
    padding: 0 ;
    box-sizing: box-border ;
}

.bac {
    min-height: 100vh;
    background: url(https://img.freepik.com/photos-premium/scene-arriere-plan-vide-reflexion-rue-sombre-asphalte-humide-rayons-neon-dans-obscurite-formes-neon-fumee-contexte-spectacle-scene-vide-abstrait-fond-sombre_183410-54.jpg?ga=GA1.1.1642889596.1730900997&semt=ais_hybrid) no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    z-index: 100;
}

img{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 50px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-left: 40px;

}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3x;
}

.navbar a:hover::before{
    width: 100%;
}

.prod {
    min-height: 100vh;
    background: url(https://img.freepik.com/photos-premium/inspiration-tableau-noir-liberant-creativite-toile-tableau-noir_894855-3728.jpg?w=740) no-repeat;
    background-size: cover;
    background-position: center;
}

